@model NKD.ViewModels.BlockModelCompareViewModel
@using NKD.Models;
@Html.Partial("Header")
@{
    Style.Require("NKDAdmin");

    Layout.Title = T("Result - Compare Block Models").ToString();
}

@if (AuthorizedFor(NKD.Permissions.ManageProjects)) {
    using(Html.BeginForm())
    {
          <fieldset>
              <legend>Result - Compare Block Models</legend>
               <div class="editor-label" style="display:none;">
                  Model 1 @Html.TextBoxFor(x => x.Model1Name, new { @readonly = true } ) <br /> Model 2 @Html.TextBoxFor(x => x.Model2Name, new { @readonly = true } ) 
              </div>
          </fieldset>
    }

  

      
 @Html.DevExpress().ReportToolbar(
            settings =>
            {
                settings.Name = "ReportToolbar";
                settings.ReportViewerName = "ReportViewer1";
                settings.Width = new System.Web.UI.WebControls.Unit("100%");
                
            }
        ).GetHtml()
 <table cellspacing="0" cellpadding="0" class="reportBorder" style="margin-top:20px;">
            <tr>
                <td>
                    @Html.Partial("CompareModelResultPartial", Model)
                </td>
            </tr>
        </table>
     
}
else {
    Html.RenderAction("UnauthorizedRedirect");
}
