@model NKD.ViewModels.BlockModelViewModel
@using NKD.Models;
@Html.Partial("Header")
@{
    Style.Require("NKDAdmin");
    HtmlHelper.ClientValidationEnabled = true;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
    Layout.Title = T("Import a Block Model").ToString();
}

@if (AuthorizedFor(NKD.Permissions.ManageProjects)) {
    using (Html.BeginForm("ImportModelProcessStart", "User", new { area = "NKD", Controller = "User", Action = "ImportModelProcessStart" }, FormMethod.Post, new { id = "form1", @class = "edit-form" }))
    {
          <fieldset>
              <legend>@Layout.Title</legend>
               <div class="editor-label">
                  @Html.LabelFor(x => x.Project)
              </div>
              <div class="editor-field">
                  @Html.DropDownListFor(x => x.Project, Model.Projects)
              </div>
              <div class="editor-label">
                  @Html.LabelFor(x => x.Alias)
              </div>
              <div class="editor-field">
                  @Html.TextBoxFor(x => x.Alias)
              </div>
             <div class="editor-label">
                  @Html.LabelFor(x => x.Stage)
              </div>
              <div class="editor-field">
                  @Html.TextBoxFor(x => x.Stage)
              </div>
           

              <div class="editor-label">
                  @Html.LabelFor(x => x.FileName)
              </div>
              <div class="editor-field">
                  @Html.DropDownListFor(x => x.FileName, Model.FileNames)
              </div>

             


               <div class="editor-label">
                  @Html.LabelFor(x => x.Notes)
              </div>
              <div class="editor-field">
                  @Html.TextAreaFor(x => x.Notes)
              </div>
              @Html.ValidationSummary()
              <input type="submit" value="Upload" class="submitButtonLeft"/>
          </fieldset>
    }
}
else
{
    Html.RenderAction("UnauthorizedRedirect");
}

@*<script type="text/javascript">
    //<![CDATA[
    $(function () {
        $('#Project').cascade({
            url: '@Url.Action("GetStages")',
            paramName: 'projectID',
            childSelect: $('#Stage')
        });

    });
    // ]]>
</script>*@
    
      
