@model NKD.ViewModels.BlockModelParameterViewModel
@{
    Html.EnableClientValidation(); 
}

@using NKD.Models;
@Html.Partial("Header")
@{
    Style.Require("NKDAdmin");

    Layout.Title = T("Update a Block Model Parameter").ToString();
}

@if (AuthorizedFor(NKD.Permissions.ManageProjects)) {
    using (Html.BeginForm("ModelParametersEdit", "User", new { area = "NKD" }, FormMethod.Post))
    {
          <fieldset>
              <legend>Upload Parameter</legend>
              <div class="editor-label">
                 @Html.LabelFor(x => x.BlockModelAlias)
              </div>
              <div class="editor-field">
                  @Html.TextBoxFor(x => x.BlockModelAlias, new { @readonly = true })
              </div>
              <div class="editor-label">
                 @Html.LabelFor(x => x.ParameterName)
              </div>
              <div class="editor-field">
                  @Html.TextBoxFor(x => x.ParameterName, new { @readonly = true })
              </div>
              <div class="editor-label">
                 @Html.LabelFor(x => x.ParameterDescription)
              </div>
              <div class="editor-field">
                  @Html.TextBoxFor(x => x.ParameterDescription, new { @readonly = true })
              </div>
              <div class="editor-label">
                  @Html.LabelFor(x => x.UnitID)
              </div>
              <div class="editor-field">
                  @Html.DropDownListFor(x => x.UnitID, Model.Units, "")
              </div>
              @Html.HiddenFor(x => x.BlockModelMetadataID)
              @Html.HiddenFor(x => x.ParameterID)
              @Html.ValidationSummary()
              <input type="submit" value="Update"/>
          </fieldset>
    }
}
else {
    Html.RenderAction("UnauthorizedRedirect");
}
