@model NKD.ViewModels.GeophysicsReportViewModel
@using NKD.Models;
@Html.Partial("Header")
@{
    Style.Require("NKDAdmin");

    Layout.Title = T("Geophysics Report").ToString();
}

@if (AuthorizedFor(NKD.Permissions.ManageProjects)) {
    using (Html.BeginForm("ReportGeophysics", "User", new { area = "NKD", Controller = "User", Action = "ReportGeophysics" }, FormMethod.Post, new { id = "form1", @class = "edit-form" }))
    {
          <fieldset>
              <legend>@Layout.Title</legend>
               <div class="editor-label">
                  @Html.LabelFor(x => x.Project)
              </div>
              <div class="editor-field">
                  @Html.DropDownListFor(x => x.ProjectID, Model.Projects, "(Unknown)")
              </div>     
              @Html.HiddenFor(x => x.Project)        
              @Html.ValidationSummary(false) 
              <input type="submit" value="Export" class="submitButtonLeft"/>
          </fieldset>
    }
    <script type="text/javascript">
    //<![CDATA[
        $('form').submit(function (e) {
            $('#Project').val($('#ProjectID option:selected').text());
        });
    //]]>
    </script>
}
else
{
    Html.RenderAction("UnauthorizedRedirect");
}




 
    
      
