@model NKD.ViewModels.BlockModelUploadViewModel
@using NKD.Models;
@Html.Partial("Header")
@{
    Style.Require("NKDAdmin");

    Layout.Title = T("Upload Block Models").ToString();
}

@if (AuthorizedFor(NKD.Permissions.ManageProjects))
{
    @Html.BeginForm("UploadModelResult", "User", new { area = "NKD", Controller = "User", Action = "UploadModelResult" }, FormMethod.Post, new { id = "form1", @class = "edit-form" })
    {
          <fieldset>
              <legend>Upload Block Models</legend>
               <div class="editor-label">
                  @Html.LabelFor(x => x.Model1)
              </div>
              <div class="editor-field">
                  @Html.DropDownListFor(x => x.Model1, Model.Models)
              </div>
               <div class="editor-label">
                  @Html.LabelFor(x => x.Model2)
              </div>
              <div class="editor-field">
                  @Html.DropDownListFor(x => x.Model2, Model.Models)
              </div>
               <div class="editor-field">
                  @Html.DropDownListFor(x => x.Project, Model.ProjectList)
              </div>
              Html.HiddenFor(x => x.Test)
              <input type="submit" value="Upload"/>
          </fieldset>
    }
}
else {    
    Html.RenderAction("UnauthorizedRedirect");
}

<script type="text/javascript">
    //<![CDATA[
    $(function () {
        $('#Project').cascade({
            url: '@Url.Action("GetStages")',
            paramName: 'projectID',
            childSelect: $('#Stage')
        });

    });
    // ]]>
</script>
    
      
