@model NKD.ViewModels.BlockModelUploadViewModel
@using NKD.Models;
@Html.Partial("Header")
@{
    Style.Require("NKDAdmin");

    Layout.Title = T("Result - Upload Block Models").ToString();
}

@if (AuthorizedFor(NKD.Permissions.ManageProjects)) {
    @Html.BeginForm()
    {
          <fieldset>
              <legend>Result - Upload Block Models</legend>
               <div class="editor-label">
                  Models: @Html.TextBoxFor(x => x.Model1, new { @readonly = true } ) &nbsp; <br />
                    @Html.TextBoxFor(x => x.Model2, new { @readonly = true } )  <br />
                   @Html.TextBoxFor(x => x.Test, new { @readonly = true } ) &nbsp;
              </div>
          </fieldset>
    }
}
else {
    Html.RenderAction("UnauthorizedRedirect");
}
    
      
