<div>
  <div>@Model.ContentPart.PackageID - @Model.ContentPart.PackageVersion</div>
  <div>@Model.ContentPart.Title</div>
  <div>@Model.ContentPart.Description</div>
  <div>@Model.ContentPart.Summary</div>
</div>